<link rel='stylesheet' href='/stylesheets/style-index.css' />


<div class="marquesina">
    <div class="creamos">
        <div class="texto-animado">
            <span>CREAMOS</span>
            <marquee>webs a la medida de tu negocio</marquee>
        </div>
    </div>
</div>

<div class="banner-text">
    <div>
        <a href="/servicios" class="button1">INGRESAR</a>
    </div>
</div>
