<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tilt+Warp&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <h1>WebStore</h1>
  <header>
    <nav>
      <ul class="nav-menu">
        <li><a href="/" class="nav-enlace">Home</a></li>
        <li><a href="/servicios" class="nav-enlace">Servicios</a></li>
        <li><a href="/novedades" class="nav-enlace">Novedades</a></li>
        <li><a href="/contacto" class="nav-enlace">Contacto</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    <div class="principal">
      <div class="links">
        <div class="extra">
            <h3>Diseñado por WebStore © 2023</h3>
        </div>
      </div>
      <div class="social-media-menu">
        <ul>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="contact">
      <div class="fixed-mail">
        <a href="mailto:mtraiano76@gmail?subject=Asistencia" target="_blank"><i
            class="fa-regular fa-envelope"></i></i></a>
      </div>
      <div class="fixed-wp">
        <a href="https://wa.me/+541132595762" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>